@using PagedList.Mvc;
@model PagedList.IPagedList<WAD_C2009L_NguyenVanA.Models.Exam>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

model IEnumerable<>
@{
    ViewBag.Title = "Exams";
}

<h2>Exams</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <!--/Exams/Create-->
</p>
<!--<form method='get' action='/Exams'>-->
@using (Html.BeginForm("Index", "Exams", FormMethod.Get))
{
    <p>
        <!--Binding currentFilter-->
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Subject Name
        </th>
        <th>
            @Html.ActionLink("Mark", "Index", new
            {
                sortOrder = ViewBag.MarkSortParm,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, 
    page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
